.venv/
.ultralytics/
.DS_Store
xcuserdata/
*.xcuserstate
.cache/
.build/
__pycache__/
*.pyc
*.pte
*.ptd
*.pt
*.mlpackage
*_executorch_model/
*.mp4
*.avi
*.mkv
*.csv
*.json
*.log
*.zip
*.tar.gz
*.h5
*.onnx
*.weights
*.cfg
*.img
*.jpg
*.jpeg
*.png
!app_flutter/assets/images/soccer_hero.png
*.bmp
*.gif
*.ico
*.pdf
*.docx
*.xlsx
*.pptx
*.txt
